#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

#pokemon-list div {
  display: flex;
  justify-content: space-between; /* Distribui os itens uniformemente na linha */
  background-color: chocolate;
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid rgb(29, 26, 26);
  padding: 10px;

}

#pokemon-list img {
  max-width: 100%;
  background-color: aqua;
  order: 3;
}

#pokemon-list 


button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
