body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .poke-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-card {
    margin: 17px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgb(100, 100, 100, 0.5);
    text-align: center;
    width: 120px;
    position: relative;
  }
  
  .pokemon-img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    background: rgb(110, 110, 110);
    border: 1px solid;
    border-radius: 10px;
    order: 2;
  }
  
  .capture-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Mantém a cor padrão do texto */
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado do texto */
  display: inline; /* Permite que o botão se ajuste ao conteúdo interno */
}

/* Estilo da imagem dentro do botão */
button img {
  width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 6px;
}